<h3>Réinitialiser le mot de passe</h3>

<div *ngIf="success" class="alert alert-success">
  {{message}}
</div>

<div *ngIf="error" class="alert alert-warning">
  {{message}}
</div>

<br />
<div *ngIf="showForm">
  <p>
    Veuillez entrer votre nouveau mot de passe:
  </p>
  <div class="input-group mb-3">
    <input #password type="password" class="form-control" placeholder="Mot de passe" aria-label="Username" aria-describedby="basic-addon1">
    <input #repeat type="password" class="form-control" placeholder="Mot de passe" aria-label="Username" aria-describedby="basic-addon1">
    <button type="button" class="btn btn-primary" (click)="submit(password.value, repeat.value)">Réinitialiser</button>
  </div>
</div>
