<footer class="footer">
    <div class="container">
        <div class="about">
            RelvolvAir © 2018 fait par Christopher Brière, Cédric Toupin, Dominic Jobin, Dominic Michaud, Guillaume Richard, Guillaume Simard et Jasmin Brassard
        </div>
    </div>
</footer>



