<br />
<br />
<br />
<div class="container">
  <div *ngIf="station; else loading;">
    <div class="row">
      <h2>Station: {{station.info["name"]}}</h2>
    </div>
    <div class="row">
      <p>Mis à jour: {{ station.info["updated_at"]["date"] | date : 'EEEE h:mm a' : '' : 'fr'}}</p>
    </div>
    <div class="row">
      <div class="col-sm-4" [ngStyle]="{'width' : '100px', 'text-align' : 'center', 'border' : '5px solid ' + station.aqi['color']}">
        <h2>{{station.aqi["average"]}}</h2>
      </div>
      <div class="col-sm-4">
        <h2>{{station.aqi["label"]}}</h2>
      </div>
    </div>
    <div *ngIf="station.aqi['temperature'] !== null">
      <b>Température: </b>{{station.aqi["temperature"]}}°C
    </div>
    <div *ngIf="station.aqi['humidity'] !== null">
      <b>Humidité: </b>{{station.aqi["humidity"]}}%
    </div>
    <br>
    <table style="width: 50%" class="table table-bordered">
      <tr>
        <th>Type</th>
        <th>IQA</th>
        <th>Brute</th>
      </tr>
      <tr>
        <th>PM2.5</th>
        <td>{{station.aqi["pm2p5"]}}</td>
        <td>{{station.raw_data["pm2p5"]}}</td>
      </tr>
      <tr>
        <th>PM10</th>
        <td>{{station.aqi["pm10"]}}</td>
        <td>{{station.raw_data["pm10"]}}</td>
      </tr>
    </table>
  </div>
</div>
<ng-template #loading><b>Chargement...</b></ng-template>
<button (click)="back()">Retour</button>
<br>
<h4>AQIs singuliers - 48 dernières heures</h4>
<div class="col-2" *ngFor="let key of getObjectKeys(aqiData)">
  <aqi-graph [data]="aqiData[key]" [pollutant]="key"></aqi-graph>
</div>
<br>
<app-comment></app-comment>
<list-sensor></list-sensor>
