<h1>.</h1>


<div *ngIf="userId == 1; else forbidden;">
   <div *ngIf="logs; else empty">  
    <h1>Liste d'erreurs générées du côté client</h1>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Code de status</th>
        <th scope="col">Message d'erreur</th>
        <th scope="col">URL</th>
        <th scope="col">Addresse IP</th>
        <th scope="col">Addresse IP (Forwarded)</th>
        <th scope="col">ID Utilisateur</th>
        <th scope="col">Générée le</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let log of logs">
        <td>{{log.statusCode}}</td>
        <td>{{log.errorMessage}}</td>
        <td>{{log.url}}</td>
        <td>{{log.remoteIpAddress}}</td>
        <td>{{log.HTTPXIpAddress}}</td>
        <td>{{log.userId}}</td>
        <td>{{log.created_at}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #forbidden><h1>403 forbidden page</h1></ng-template>
<ng-template #empty><h1>CHARGEMENT...</h1></ng-template>
