#title {
  padding-top: 50px;
}

table.alertLoader {
  display: table;
  width: 100%;

}
table.alertLoader thead, table.alertLoader tbody {
  float: left;
  width: 100%;
}
table.alertLoader tbody {
  overflow: auto;
  max-height: 300px;
}
table.alertLoader tr {
  display: table;
  text-align: left;
  width: 100%;
}
.station{
  width: 20%;
}

.city{
  width: 20%;
}
.aqi{
  width: 20%;
}

.date{
  width: 20%;
}

.alertStation{
  width: 20%;
}

.alertHeader{
  background: #dddddd;
  border-radius: 4px;
}

a {
  cursor: pointer;
}
