<h2 id="title">Alertes récentes</h2>
<br>
<table class="table table-hover alertLoader">
  <thead class="alertHeader">
  <tr>
    <th class="station">Nom de la station</th>
    <th class="city">Ville</th>
    <th class="aqi">Niveau de l'alerte</th>
    <th class="date">Date de création</th>
    <th class="alertStation">Lien vers la station</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let alert of alerts">
    <td class="station">{{alert.station.name}}</td>
    <td class="city">{{alert.station.city}}</td>
    <td class="aqi">{{alert.newAQI}}</td>
    <td class="date">{{alert.created_at | date :  'yyyy/MM/dd : hh:mm a': '-0800' }}</td>
    <td class="alertStation">
      <a (click)="alertStation(alert.station_id)">Détail de la station</a>
    </td>
  </tr>
  </tbody>
</table>
