table.commentloader {
  display: table;
  width: 100%;

}
table.commentloader thead, table.commentloader tbody {
  float: left;
  width: 100%;
}
table.commentloader tbody {
  overflow: auto;
  max-height: 300px;
}
table.commentloader tr {
  display: table;
  text-align: left;
  width: 100%;
}
.text{
  width: 70%;
  max-height: 50px;
  text-align: justify;
}
.name{
  width: 15%;
}

.date{
  width: 25%;
}

#commentContainer{
  border: 1px solid lightgrey;
  border-radius: 4px;
}
.commentsHeader{
  background: #dddddd;
  border-radius: 4px;
}
