<div class="form-group">
  <h3 align="left">Écrire un commentaire:</h3>
  <form (ngSubmit)="onSubmit()" #newCommentForm="ngForm">
      <textarea class="form-control" id="text" required
                [(ngModel)]="comment.text" name="text"
                #text="ngModel" placeholder="Commentaire" rows="5" maxlength="1024">
      </textarea>
    <div [hidden]="newCommentForm.valid || newCommentForm.pristine"
         class="alert alert-danger">
      Commentaire requis
    </div>
    <div class="form-group " align="right">
      <button type="submit" [disabled]="!newCommentForm.form.valid" id="submit"
              class="btn btn-primary">Envoyer</button>
    </div>
  </form>
</div>
<div>
  <h3>Commentaires :</h3>
  <div *ngIf="comments.length != 0; else empty;" id="commentContainer">

    <table class="table table-hover commentloader">
      <thead class="commentsHeader">
      <tr>
        <th class="name">Utilisateur</th>
        <th class="text">Commentaire</th>
        <th class="date">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let comment of comments" >
        <td class="name">{{comment.name}}</td>
        <td class="text">{{comment.text}}</td>
        <td class="date">{{comment.created_at['date'] | date :  'yyyy/MM/dd : hh:mm a': '-0800'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty><b>La liste est vide.</b></ng-template>
</div>
